In [1]:
import pandas as pd

In [ ]:
DB_URL = 'onad.cbjjamtlar2t.ap-northeast-2.rds.amazonaws.com'
DB_USER = 'onad'
DB_PASSWORD = 'rkdghktn12'
DB_DATABASE = 'onad'
DB_CHARSET = 'utf8mb4'
DB_LOGFLAG  = 'False'
DB_PORT = 3306

db_url = "mysql+pymysql://%s:%s@%s:%s/%s?charset=%s" % (
    DB_USER, DB_PASSWORD,
    DB_URL, DB_PORT,
    DB_DATABASE, DB_CHARSET
)

In [3]:
def data_from_sql_twitchchat(streamer, target_date):
    query = """
        select * from twitch_chat where streamer_id = '66375105' and broad_date =target_date
    """% streamer

    return pd.read_sql_query(query, db_url)

   code    stream_id streamer_id streamer_name            broad_date
0     4  31985216528    66375105           침착맨  2019-01-03T06:49:46Z
1   536  31999258656    66375105           침착맨  2019-01-04T01:59:13Z
2  2533  32055477312    66375105           침착맨  2019-01-07T01:57:17Z

In [ ]:
streamer = "66375105"
target_date = "2018-12-15"