In [1]:
import pandas as pd

DB_URL = 'onad.cbjjamtlar2t.ap-northeast-2.rds.amazonaws.com'
DB_USER = 'onad'
DB_PASSWORD = 'rkdghktn12'
DB_DATABASE = 'onad'
DB_CHARSET = 'utf8mb4'
DB_LOGFLAG  = 'False'
DB_PORT = 3306

db_url = "mysql+pymysql://%s:%s@%s:%s/%s?charset=%s" % (
    DB_USER, DB_PASSWORD,
    DB_URL, DB_PORT,
    DB_DATABASE, DB_CHARSET
)

def data_from_sql_twitchchat(streamer, target_date):
    query = """
        select * from twitch_chat where streamer_name = "%s" and broad_date ="%s"
    """% (streamer, target_date)

    return pd.read_sql_query(query, db_url)

### 1 채팅데이터 로드

In [30]:
streamer = "cocopopp671"
target_date = "2018-12-24"
df = data_from_sql_twitchchat(streamer, target_date)

In [42]:
chat_df = df.copy()
chat_df.head(2)

,chat_id,streamer_name,broad_date,chatterer,chat_time,chat_contents
0,1127035,cocopopp671,2018-12-24,<%$파란맛_ (blue_flavor)>,00:15:47,!points
1,1127036,cocopopp671,2018-12-24,<%^StreamElements>,00:15:47,"@파란맛_, 파란맛_ has 63610 points and is rank 174/3..."

In [43]:
chat_df.shape

(57154, 6)

### 2 시간 인덱스로 변환

In [44]:
# "초하" 를 기준으로 시작시간 설정
start_time = chat_df[chat_df.chat_contents == "초하"]["chat_time"].values[0]
start_time = target_date + " " + start_time
start_time = pd.to_datetime(start_time)

In [45]:
chat_df['stream_time'] = chat_df['chat_time'].apply(lambda x : target_date + " " + x)
chat_df['stream_time'] = chat_df['stream_time'].apply(lambda x : pd.to_datetime(x) - start_time)
chat_df.set_index("stream_time", inplace=True)

In [48]:
chat_df = chat_df[chat_df.index > "00:00:00"]

In [50]:
chat_df.head()

,chat_id,streamer_name,broad_date,chatterer,chat_time,chat_contents
stream_time,,,,,,
00:00:04,1127040,cocopopp671,2018-12-24,<%$우리승태화이팅 (heeeeheeee805)>,00:25:17,띠용?
00:00:06,1127041,cocopopp671,2018-12-24,<%$우리승태화이팅 (heeeeheeee805)>,00:25:19,초하
00:00:07,1127042,cocopopp671,2018-12-24,<%$드레여캐이뻐염 (ppyong96)>,00:25:20,잉
00:00:08,1127043,cocopopp671,2018-12-24,<%$우성아파트 (index0768)>,00:25:21,??
00:00:09,1127044,cocopopp671,2018-12-24,<%$드레여캐이뻐염 (ppyong96)>,00:25:22,초하

### 3 분석데이터셋으로 전처리

#### 3-1 분석 데이터셋 만들기

In [75]:
anal_df = chat_df.pivot_table(index=chat_df.index, values='chatterer', aggfunc=len).loc[:, ['chatterer']]

#### 3-2 변수 추가

In [78]:
word_list = ['ㅋ', '유하', '꿀잼', '?', 'ㄵ', '노잼', 'ㄴㅈ', '뭐함']

for word in word_list:
    target_word = "cnt_" + word
    chat_df[target_word] =  chat_df.chat_contents.apply(lambda x : x.count(word))
    anal_df[target_word] = chat_df.pivot_table(index=chat_df.index, values=target_word, aggfunc=sum).loc[:, target_word]

anal_df['cnt_?'].unique()

array([ 1,  0,  2,  3,  4,  5,  6,  7,  8, 39,  9, 17, 10, 16, 13, 21, 12,
       11, 18, 27, 19, 23, 14, 15, 38, 32, 24, 26], dtype=int64)

In [80]:
anal_df.chatterer.unique()

array([ 1,  2,  3,  5,  4,  6,  7,  8, 10,  9, 11, 14, 12, 17, 13, 16, 18,
       15, 29, 20, 19, 21, 22], dtype=int64)