In [1]:
import pandas as pd

DB_URL = 'onad.cbjjamtlar2t.ap-northeast-2.rds.amazonaws.com'
DB_USER = 'onad'
DB_PASSWORD = 'rkdghktn12'
DB_DATABASE = 'onad'
DB_CHARSET = 'utf8mb4'
DB_LOGFLAG  = 'False'
DB_PORT = 3306

db_url = "mysql+pymysql://%s:%s@%s:%s/%s?charset=%s" % (
    DB_USER, DB_PASSWORD,
    DB_URL, DB_PORT,
    DB_DATABASE, DB_CHARSET
)

def data_from_sql_twitchchat(streamer, target_date):
    query = """
        select * from twitch_chat where streamer_name = "%s" and broad_date ="%s"
    """% (streamer, target_date)

    return pd.read_sql_query(query, db_url)

### 1 채팅데이터 로드

In [217]:
streamer = "rhdgurwns"
target_date = "2018-12-09"
df = data_from_sql_twitchchat(streamer, target_date)

In [218]:
chat_df = df.copy()
chat_df.head(2)

,chat_id,streamer_name,broad_date,chatterer,chat_time,chat_contents
0,5804896,rhdgurwns,2018-12-09,<명부러전 (worldbest29)>,08:02:31,공혁준 방송켜라
1,5804897,rhdgurwns,2018-12-09,<명부러전 (worldbest29)>,08:02:39,방송켜 뽀뽀 쪽

In [219]:
chat_df.shape

(57597, 6)

### 2 시간 인덱스로 변환

In [222]:
# "얍하" 를 기준으로 시작시간 설정
start_time = chat_df[chat_df.chat_contents == "혁하"]["chat_time"].values[5]
start_time = target_date + " " + start_time
start_time = pd.to_datetime(start_time)

In [227]:
chat_df[chat_df.chat_contents == "혁하"].head()

,chat_id,streamer_name,broad_date,chatterer,chat_time,chat_contents
stream_time,,,,,,
00:00:04,5804983,rhdgurwns,2018-12-09,<dlcjsdnjs2>,13:25:54,혁하
00:00:26,5804998,rhdgurwns,2018-12-09,<desiremon>,13:26:16,혁하
00:00:31,5805000,rhdgurwns,2018-12-09,<아무이유 (noreason_s)>,13:26:21,혁하
00:01:02,5805029,rhdgurwns,2018-12-09,<ssn065>,13:26:52,혁하
00:01:04,5805031,rhdgurwns,2018-12-09,<슈퍼똘똘 (jins1124)>,13:26:54,혁하

In [228]:
chat_df['stream_time'] = chat_df['chat_time'].apply(lambda x : target_date + " " + x)
chat_df['stream_time'] = chat_df['stream_time'].apply(lambda x : pd.to_datetime(x) - start_time)
chat_df.set_index("stream_time", inplace=True)

In [229]:
chat_df = chat_df[chat_df.index > "00:00:00"]

In [230]:
chat_df.head()

,chat_id,streamer_name,broad_date,chatterer,chat_time,chat_contents
stream_time,,,,,,
00:00:01,5804981,rhdgurwns,2018-12-09,<어썸한어썸 (rewrite777)>,13:25:51,오늘 길게한다고 했으니까 최소 저녁8시까지 해라
00:00:02,5804982,rhdgurwns,2018-12-09,<혁준이가슴만지고싶다 (qkpa471)>,13:25:52,종아리 걷어 ㅡㅡ
00:00:04,5804983,rhdgurwns,2018-12-09,<dlcjsdnjs2>,13:25:54,혁하
00:00:04,5804984,rhdgurwns,2018-12-09,<바비노 (lowe3100)>,13:25:54,종아리걷어
00:00:05,5804985,rhdgurwns,2018-12-09,<kk99188>,13:25:55,혀카

### 3 분석데이터셋으로 전처리

#### 3-1 분석 데이터셋 만들기

In [231]:
anal_df = chat_df.pivot_table(index=chat_df.index, values='chatterer', aggfunc=len).loc[:, ['chatterer']]

#### 3-2 변수 추가

In [483]:
word_list = ['ㅋ', '유하', '꿀잼', '?', 'ㄵ', '노잼', 'ㄴㅈ', '혁준',]

for word in word_list:
    target_word = "cnt_" + word
    chat_df[target_word] =  chat_df.chat_contents.apply(lambda x : x.count(word))
    anal_df[target_word] = chat_df.pivot_table(index=chat_df.index, values=target_word, aggfunc=sum).loc[:, target_word]

anal_df['cnt_ㅋ'].unique()

array([  0,   8,  13,   7,   5,   3,  14,   6,   4,   2,  11,  15,  25,
        20,  29,  19,  36,  12,  10,   1,  18,  30,  27,  23,  21,   9,
        39,  17,  28,  22,  24,  31,  32,  16,  26,  38,  40,  33,  37,
        35,  58,  81,  43,  55,  44,  47,  52,  54,  41,  68, 131,  78,
        34,  88,  80,  53,  60,  45,  57,  46,  49,  50,  62,  42,  82,
       112,  64, 106,  48,  92, 264, 140, 113, 168,  86, 109,  72,  74,
       191,  65,  63,  66, 167, 125, 156,  61, 132,  95,  90,  56,  69,
        85, 119,  93, 124, 108, 102,  77,  73, 346, 208, 216,  59, 103,
       139, 115, 157,  99,  84, 104, 218, 114, 117,  79, 100,  51, 154,
       160, 174, 101, 195, 192, 198, 107, 110,  97,  71, 122, 158, 419,
       380,  91, 166,  87,  98,  75, 196,  83, 128,  89, 150,  70,  67,
       194, 189, 249, 161, 193, 277, 126, 143, 141,  94, 120, 123, 111,
       250, 130, 303, 179, 145, 153, 142, 136, 121, 134, 144, 201, 137,
        76, 185, 116, 186,  96, 151, 227, 138, 172, 149, 184, 262, 165,
       152, 311], dtype=int64)

In [484]:
import numpy as np
anal_df[anal_df['chatterer'] > np.percentile(anal_df.chatterer.unique(), 60)]

,chatterer,cnt_ㅋ,cnt_유하,cnt_꿀잼,cnt_?,cnt_ㄵ,cnt_노잼,cnt_ㄴㅈ,cnt_성태,cnt_얍마이무,cnt_혁준
stream_time,,,,,,,,,,,
03:53:13,29,126,0,0,25,0,0,0,0,0,0
04:07:45,33,303,0,0,0,0,0,0,0,0,0
05:06:44,26,311,0,0,17,0,0,0,0,0,0
05:06:50,35,38,0,0,0,0,0,0,0,0,0
05:06:53,52,29,0,0,2,0,0,0,0,0,0
05:06:56,47,24,0,0,2,0,0,0,0,0,0
05:06:59,49,13,0,0,0,0,0,0,0,0,0
05:07:02,49,5,0,0,2,0,0,0,0,0,22
05:07:05,40,0,0,0,0,0,0,0,0,0,1
05:07:08,26,0,0,0,1,0,0,0,0,0,0
05:07:09,36,0,0,0,0,0,0,0,0,0,0
05:07:12,36,0,0,0,0,0,0,0,0,0,0
05:07:15,37,0,0,0,0,0,0,0,0,0,0
05:07:18,31,0,0,0,2,0,0,0,0,0,0
05:07:21,28,0,0,0,1,0,0,0,0,0,1
05:07:25,27,0,0,0,0,0,0,0,0,0,0
05:07:28,46,15,0,0,0,0,0,0,0,0,1
05:07:31,28,2,0,0,0,0,0,0,0,0,0
05:07:35,47,6,0,0,2,0,0,0,0,0,0
05:07:38,34,0,0,0,0,0,0,0,0,0,0
05:07:41,33,3,0,0,8,0,0,0,0,0,0
05:07:44,27,1,0,0,5,0,0,0,0,0,0
05:07:51,36,4,0,0,0,0,0,0,0,0,0
05:07:55,31,0,0,0,0,0,0,0,0,0,0
05:07:58,26,10,0,0,0,0,0,0,0,0,0
05:08:00,31,12,0,0,4,0,0,0,0,0,0
05:08:04,26,7,0,0,0,0,0,0,0,0,0
05:08:06,29,9,0,0,0,0,0,0,0,0,0
05:08:10,28,11,0,0,0,0,0,0,0,0,0
05:08:13,40,12,0,0,0,0,0,0,0,0,0
05:08:17,37,10,0,0,0,0,0,1,0,0,1
05:08:20,28,0,0,0,1,0,0,0,0,0,1
05:08:23,33,2,0,0,0,0,0,0,0,0,0
05:08:27,33,0,0,0,0,0,0,0,0,0,0
05:08:31,39,7,0,0,1,0,0,0,0,0,0
05:08:35,39,13,0,0,5,0,0,0,0,0,0
05:08:38,34,44,0,0,1,0,0,0,0,0,0
05:08:41,29,13,0,0,0,0,0,0,0,0,0

In [485]:
anal_df[anal_df['chatterer'] > np.percentile(anal_df.chatterer, 99.9)]

,chatterer,cnt_ㅋ,cnt_유하,cnt_꿀잼,cnt_?,cnt_ㄵ,cnt_노잼,cnt_ㄴㅈ,cnt_성태,cnt_얍마이무,cnt_혁준
stream_time,,,,,,,,,,,
05:06:50,35,38,0,0,0,0,0,0,0,0,0
05:06:53,52,29,0,0,2,0,0,0,0,0,0
05:06:56,47,24,0,0,2,0,0,0,0,0,0
05:06:59,49,13,0,0,0,0,0,0,0,0,0
05:07:02,49,5,0,0,2,0,0,0,0,0,22
05:07:05,40,0,0,0,0,0,0,0,0,0,1
05:07:09,36,0,0,0,0,0,0,0,0,0,0
05:07:12,36,0,0,0,0,0,0,0,0,0,0
05:07:15,37,0,0,0,0,0,0,0,0,0,0
05:07:28,46,15,0,0,0,0,0,0,0,0,1
05:07:35,47,6,0,0,2,0,0,0,0,0,0
05:07:51,36,4,0,0,0,0,0,0,0,0,0
05:08:13,40,12,0,0,0,0,0,0,0,0,0
05:08:17,37,10,0,0,0,0,0,1,0,0,1
05:08:31,39,7,0,0,1,0,0,0,0,0,0
05:08:35,39,13,0,0,5,0,0,0,0,0,0

In [487]:
anal_df[anal_df['cnt_ㅋ'] > np.percentile(anal_df['cnt_ㅋ'], 99.9)]

,chatterer,cnt_ㅋ,cnt_유하,cnt_꿀잼,cnt_?,cnt_ㄵ,cnt_노잼,cnt_ㄴㅈ,cnt_성태,cnt_얍마이무,cnt_혁준
stream_time,,,,,,,,,,,
01:25:36,11,264,0,0,0,0,0,0,0,0,0
03:08:22,23,346,0,0,0,0,0,0,0,0,0
03:08:25,14,208,0,0,0,0,0,0,0,0,0
03:08:26,16,216,0,0,0,0,0,0,0,0,0
03:20:10,14,218,0,0,0,0,0,0,0,0,0
03:26:19,15,198,0,0,1,0,0,0,0,0,0
03:30:54,23,419,0,0,0,0,0,0,0,0,0
03:30:55,25,380,0,0,0,0,0,0,0,0,0
03:53:01,14,249,0,0,0,0,0,0,0,0,0
03:53:06,16,277,0,0,0,0,0,0,0,0,0
04:01:51,22,250,0,0,0,0,0,0,0,0,0
04:07:45,33,303,0,0,0,0,0,0,0,0,0
04:14:11,17,201,0,0,0,0,0,0,0,0,1
04:27:22,17,227,0,0,0,0,0,0,0,0,0
04:58:53,16,262,0,0,0,0,0,0,0,0,0
05:06:44,26,311,0,0,17,0,0,0,0,0,0

In [522]:
anal_df['chatterer_scail'] = anal_df.chatterer / anal_df.chatterer.mean()
anal_df['cnt_ㅋ_scail'] = anal_df['cnt_ㅋ'] / anal_df['cnt_ㅋ'].mean()
anal_df['cnt_?_scail'] = (anal_df['cnt_?'] / anal_df['cnt_?'].mean()) * 0.8
anal_df['validation'] = anal_df['chatterer_scail'] + anal_df['cnt_ㅋ_scail']
anal_df['validation+?'] = anal_df['chatterer_scail'] + anal_df['cnt_ㅋ_scail'] + anal_df['cnt_?_scail']

In [523]:
anal_df[anal_df['validation'] > np.percentile(anal_df.validation, 99.9)]

,chatterer,cnt_ㅋ,cnt_유하,cnt_꿀잼,cnt_?,cnt_ㄵ,cnt_노잼,cnt_ㄴㅈ,cnt_성태,cnt_얍마이무,cnt_혁준,chatterer_scail,cnt_ㅋ_scail,validation,cnt_?_scail,validation+?
stream_time,,,,,,,,,,,,,,,,
01:25:36,11,264,0,0,0,0,0,0,0,0,0,3.055641,32.513849,35.569490,0.000000,35.569490
03:08:22,23,346,0,0,0,0,0,0,0,0,0,6.389067,42.612848,49.001914,0.000000,49.001914
03:08:25,14,208,0,0,0,0,0,0,0,0,0,3.888997,25.616972,29.505969,0.000000,29.505969
03:08:26,16,216,0,0,0,0,0,0,0,0,0,4.444568,26.602240,31.046808,0.000000,31.046808
03:20:10,14,218,0,0,0,0,0,0,0,0,0,3.888997,26.848557,30.737554,0.000000,30.737554
03:30:54,23,419,0,0,0,0,0,0,0,0,0,6.389067,51.603420,57.992486,0.000000,57.992486
03:30:55,25,380,0,0,0,0,0,0,0,0,0,6.944638,46.800237,53.744875,0.000000,53.744875
03:52:59,20,189,0,0,0,0,0,0,0,0,0,5.555710,23.276960,28.832670,0.000000,28.832670
03:53:01,14,249,0,0,0,0,0,0,0,0,0,3.888997,30.666471,34.555468,0.000000,34.555468
03:53:06,16,277,0,0,0,0,0,0,0,0,0,4.444568,34.114910,38.559478,0.000000,38.559478
04:01:51,22,250,0,0,0,0,0,0,0,0,0,6.111281,30.789630,36.900911,0.000000,36.900911
04:07:45,33,303,0,0,0,0,0,0,0,0,0,9.166922,37.317031,46.483953,0.000000,46.483953
04:14:11,17,201,0,0,0,0,0,0,0,0,1,4.722354,24.754862,29.477216,0.000000,29.477216
04:27:22,17,227,0,0,0,0,0,0,0,0,0,4.722354,27.956984,32.679338,0.000000,32.679338
04:58:53,16,262,0,0,0,0,0,0,0,0,0,4.444568,32.267532,36.712100,0.000000,36.712100
05:06:44,26,311,0,0,17,0,0,0,0,0,0,7.222423,38.302300,45.524723,14.559451,60.084174

In [524]:
anal_df[anal_df['validation+?'] > np.percentile(anal_df.validation, 99.99)]

,chatterer,cnt_ㅋ,cnt_유하,cnt_꿀잼,cnt_?,cnt_ㄵ,cnt_노잼,cnt_ㄴㅈ,cnt_성태,cnt_얍마이무,cnt_혁준,chatterer_scail,cnt_ㅋ_scail,validation,cnt_?_scail,validation+?
stream_time,,,,,,,,,,,,,,,,
03:22:05,18,174,0,0,51,0,0,0,0,0,0,5.000139,21.429582,26.429722,43.678353,70.108075
03:30:54,23,419,0,0,0,0,0,0,0,0,0,6.389067,51.603420,57.992486,0.000000,57.992486
03:30:55,25,380,0,0,0,0,0,0,0,0,0,6.944638,46.800237,53.744875,0.000000,53.744875
05:06:44,26,311,0,0,17,0,0,0,0,0,0,7.222423,38.302300,45.524723,14.559451,60.084174