## 채팅로그

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
DB_URL = 'onad.cbjjamtlar2t.ap-northeast-2.rds.amazonaws.com'
DB_USER = 'onad'
DB_PASSWORD = 'rkdghktn12'
DB_DATABASE = 'onad'
DB_CHARSET = 'utf8mb4'
DB_LOGFLAG  = 'False'
DB_PORT = 3306

db_url = "mysql+pymysql://%s:%s@%s:%s/%s?charset=%s" % (
    DB_USER, DB_PASSWORD,
    DB_URL, DB_PORT,
    DB_DATABASE, DB_CHARSET
)

#### db에 스트리밍시작시간과 채팅로그가 모두 있는 경우

In [3]:
# 분석에 필요한 데이터를 가져오는 함수
def select_twitch_chat(db_url, streamer_id, target_date):
    """
    db와 접촉하여 트위치 채팅 데이터를 가져오는 쿼리를 수행한 후 데이터 프레임으로 반환합니다.
    * input
        db_url : 데이터 베이스 연결 url, str
        streamer_id : 채팅로그를 가져 올 스트리머의 id, str ex)zilioner
        target_date : 채팅로그를 가져 올 날짜 ex)2018-01-07, str
    * output
        pandas.DataFrame 객체
    """
    import pandas as pd
    query = """select * from twitch_chat where streamer_name = "%s" and broad_date ="%s"
    """ % (streamer_id, target_date)
    return pd.read_sql_query(query, db_url)

def select_twitch_stream_start_time(db_url, steamer_name):
    import pandas as pd
    query = """select broad_date from twitch_stream where streamer_name = '%s'
    """ % steamer_name
    return pd.read_sql_query(query, db_url)

#### 1. 채팅로그 row 데이터 로드

In [4]:
streamer_id = 'cocopopp671'
steamer_name = '초승달'
target_date = '2018-12-24'
first_df = select_twitch_chat(db_url, streamer_id, target_date)

In [5]:
first_df.head()

,chat_id,streamer_name,broad_date,chatterer,chat_time,chat_contents
0,1127035,cocopopp671,2018-12-24,<%$파란맛_ (blue_flavor)>,00:15:47,!points
1,1127036,cocopopp671,2018-12-24,<%^StreamElements>,00:15:47,"@파란맛_, 파란맛_ has 63610 points and is rank 174/3..."
2,1127037,cocopopp671,2018-12-24,<%챠크켈 (jhg402)>,00:25:10,초하초하
3,1127038,cocopopp671,2018-12-24,<%$비뮤 (tlxl125)>,00:25:11,초하~
4,1127039,cocopopp671,2018-12-24,<%$봉추찜닭당면귀신 (bonchu)>,00:25:13,초하

#### 방송시작시간이 db에 없는 경우

In [6]:
# start_df = select_twitch_stream_start_time(db_url, steamer_name)

# broad = pd.to_datetime(start_df['broad"_date'])
# broad = "00:25:10"
# 트위치 시간대는 UTC 기준이므로 한국시간으로 +9 하여 변경
# broad = broad.apply(lambda x : x + pd.Timedelta("9hours"))
# for i in broad:
#     if target_date == str(i.date()):
#         start_time = i.time()

#### 2. 방송 시작 시간 데이터 로드

In [86]:
start_df = select_twitch_stream_start_time(db_url, steamer_name)

broad = pd.to_datetime(start_df['broad_date'])
# 트위치 시간대는 UTC 기준이므로 한국시간으로 +9 하여 변경
broad = broad.apply(lambda x : x + pd.Timedelta("9hours"))
for i in broad:
    if target_date == str(i.date()):
        start_time = i.time()

#### 3. 방속 시작 시간을 기준으로 하는 인덱스생성

In [71]:
start_time = "00:25:10"
start_time = pd.to_datetime(start_time)

df = first_df.copy()
df['streamtime'] = pd.to_datetime(df['chat_time'])
df['streamtime'] = df['streamtime'].apply(lambda x : x - start_time)
df.set_index('streamtime', inplace=True)

#### 4. 방송 시작 이후의 채팅 로그만

In [72]:
stream_df = df[df.index > "00:00:00"]
stream_df.head()

,chat_id,streamer_name,broad_date,chatterer,chat_time,chat_contents
streamtime,,,,,,
00:00:01,1127038,cocopopp671,2018-12-24,<%$비뮤 (tlxl125)>,00:25:11,초하~
00:00:03,1127039,cocopopp671,2018-12-24,<%$봉추찜닭당면귀신 (bonchu)>,00:25:13,초하
00:00:07,1127040,cocopopp671,2018-12-24,<%$우리승태화이팅 (heeeeheeee805)>,00:25:17,띠용?
00:00:09,1127041,cocopopp671,2018-12-24,<%$우리승태화이팅 (heeeeheeee805)>,00:25:19,초하
00:00:10,1127042,cocopopp671,2018-12-24,<%$드레여캐이뻐염 (ppyong96)>,00:25:20,잉

### 실제 유튜브 영상으로 올라간 시간과 올라가지 않은 시간대의 차이 분석

In [10]:
youtube_video_time1224 = {
    '04:52:25' : '05:18:16',
    '00:06:03' : '00:07:03',
    '01:09:30' : '01:11:15',
    '00:12:22' : '00:20:00',
    '00:23:30' : '00:30:23',
}

In [34]:
highlight_times = [pd.date_range(start=start, end=end, freq='s') for start, end in youtube_video_time1224.items()]
hl_times = []
for time in highlight_times:
#     print(time.time)
    hl_times.extend(time.time)
hl_times = [str(time) for time in hl_times]

In [53]:
stream_df.head()

,chat_id,streamer_name,broad_date,chatterer,chat_time,chat_contents,streamtime,validation
streamtime,,,,,,,,
00:00:01,1127038,cocopopp671,2018-12-24,<%$비뮤 (tlxl125)>,00:25:11,초하~,00:00:01,0
00:00:03,1127039,cocopopp671,2018-12-24,<%$봉추찜닭당면귀신 (bonchu)>,00:25:13,초하,00:00:03,0
00:00:07,1127040,cocopopp671,2018-12-24,<%$우리승태화이팅 (heeeeheeee805)>,00:25:17,띠용?,00:00:07,0
00:00:09,1127041,cocopopp671,2018-12-24,<%$우리승태화이팅 (heeeeheeee805)>,00:25:19,초하,00:00:09,0
00:00:10,1127042,cocopopp671,2018-12-24,<%$드레여캐이뻐염 (ppyong96)>,00:25:20,잉,00:00:10,0

In [70]:
stream_df[stream_df.streamtime == hl_times[15]]

Empty DataFrame
Columns: [chat_id, streamer_name, broad_date, chatterer, chat_time, chat_contents, streamtime, validation]
Index: []

In [36]:
stream_df['validation'] = stream_df.index
stream_df['validation'] = stream_df['validation'].apply(lambda x : 1 if x in hl_times else 0)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
stream_df.validation.unique()

array([0], dtype=int64)